<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSGO_Hack_WPF.Properties.RifleConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CSGO_Hack_WPF.Properties.PistolConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CSGO_Hack_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <CSGO_Hack_WPF.Properties.RifleConfig>
            <setting name="trigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerCamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="triggerDelayFirstShot" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="triggerDelayShots" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="rcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rcsStrengthMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rcsStrengthMax" serializeAs="String">
                <value>0</value>
            </setting>
        </CSGO_Hack_WPF.Properties.RifleConfig>
        <CSGO_Hack_WPF.Properties.PistolConfig>
            <setting name="trigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerCamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="triggerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="triggerDelayFirstShot" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="triggerDelayShots" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="rcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rcsStrengthMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rcsStrengthMax" serializeAs="String">
                <value>0</value>
            </setting>
        </CSGO_Hack_WPF.Properties.PistolConfig>
        <CSGO_Hack_WPF.Properties.Settings>
            <setting name="glow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="darkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d2box" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d2box_friendly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d3box" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="d3box_friendly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headHelper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tracks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="names" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ranks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="distance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chickens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noFlashPercentage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="bhop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glow_friendly" serializeAs="String">
                <value>True</value>
            </setting>
        </CSGO_Hack_WPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct2D1" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
